/**
 * Minified by jsDelivr using clean-css v4.2.3.
 * Original file: /npm/modern-normalize@1.1.0/modern-normalize.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root {
  --background-color-primary: #fff;
  --background-color-secondary: #f5f4fa;
  --font-family: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --active-color: #188ce8;
  --white-color: #ffffff;
  --white-color-60: rgba(255, 255, 255, 0.6);
  --studio-logo: #000000;
  --background-hero-footer: #2f303a;
  --color-social-media-links: #afb1b8;
  --card-set-gap: 30px ;
}

.main-nav__portfolio-underline::after, .main-nav__studia-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(0, 1px);
          transform: translate(0, 1px);
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 60px;
}

.project-card__overlay-text, .subscribe__footer-btn, .subscribe__form, .socials__link, .contact-form__button, .modal__close-btn, .menu-toggle__close-button, .mobile-menu__open, .footer, .section-clients__link, .section-activities__text, .features__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__footer-btn, .contact-form__button, .hero__main-button {
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
}

.section-activities__title, .features__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.section-clients__title, .section-team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: center;
}

.subscribe__subtitle, .footer__subtitle, .features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mobile-menu-socials__link, .mobile-menu-auth__mail-link, .mobile-menu-auth__tel-link, .mobile-menu-nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.logo__web-part,
.logo__studio-black-part,
.logo__studio-white-part {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  text-decoration: none;
}

.section-team__duty, .section-team__employee-name {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg") format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/raleway-v28-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-700.eot") format("embedded-opentype"), url("../fonts/raleway-v28-latin_cyrillic-700.woff2") format("woff2"), url("../../fonts/raleway-v28-latin_cyrillic-700.woff") format("woff"), url("../../fonts/raleway-v28-latin_cyrillic-700.ttf") format("truetype"), url("../../fonts/raleway-v28-latin_cyrillic-regular.svg") format("svg"); /* Legacy iOS */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  color: var(--font-family);
  background-color: var(--background-color-primary);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.list {
  list-style: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero {
  background-color: var(--background-hero-footer);
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  color: var(--white-color);
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-transform: uppercase;
  max-width: 360px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
    font-weight: 900;
    max-width: 696px;
    width: 100%;
  }
}

.hero__main-button {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__main-button:hover, .hero__main-button:focus {
  background-color: var(--active-color);
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.features__icon-container {
  background-color: var(--background-color-secondary);
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .features__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.features__list .features__item {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .features__list .features__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list .features__item {
    width: 270px;
  }
}

.features__title {
  color: var(--title-text-color);
}

.features__subtitle {
  color: var(--title-text-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .features__subtitle {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .features__subtitle {
    text-align: left;
  }
}

.features__text {
  color: var(--font-family);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.section-activities {
  padding-top: 94px;
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .section-activities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section-activities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
  gap: 30px;
}

.section-activities__title {
  color: var(--title-text-color);
}

.section-activities__item {
  position: relative;
}

.section-activities__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-activities__text {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
  width: 100%;
}

.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-secondary);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-team__title {
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .section-team__title {
    font-size: 36px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
  }
}

.section-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: calc(-1 * var(--card-set-gap));
}
.section-team__list:first-child {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .section-team__list {
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
}
@media screen and (min-width: 1200px) {
  .section-team__list {
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
}

.section-team__member {
  max-width: 450px;
  width: 100%;
  margin-top: var(--card-set-gap);
  background-color: var(--background-color-primary);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .section-team__member {
    width: 354px;
    -ms-flex-preferred-size: calc(50% - var(--card-set-gap));
        flex-basis: calc(50% - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}
@media screen and (min-width: 1200px) {
  .section-team__member {
    width: 270px;
    -ms-flex-preferred-size: calc(25% - var(--card-set-gap));
        flex-basis: calc(25% - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

.section-team__employee-name {
  color: var(--title-text-color);
  font-weight: 500;
  margin: 30px auto 10px auto;
}

.section-team__duty {
  color: var(--font-family);
  vertical-align: middle;
  margin-bottom: 16px;
}

.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-clients__title {
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .section-clients__title {
    font-size: 36px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
  }
}

.section-clients__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.section-clients__link {
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 210px;
  height: 92px;
  border: 1px solid var(--color-social-media-links);
  border-radius: 4px;
  fill: var(--color-social-media-links);
  background-color: var(--white-color);
}
.section-clients__link:hover, .section-clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .section-clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .section-clients__link {
    width: 170px;
  }
}

.section-clients__clients-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: calc(16.6666666667% - var(--card-set-gap));
      flex-basis: calc(16.6666666667% - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-hero-footer);
}

.container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .container--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer__footer-combiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer__footer-combiner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__footer-left {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__footer-left {
    text-align: left;
    margin-right: 92px;
  }
}

.footer__footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 65px;
}
@media screen and (min-width: 768px) {
  .footer__footer-right {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__footer-right {
    margin-top: 10px;
  }
}

.footer__subtitle {
  text-align: center;
  color: var(--white-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer__subtitle {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subtitle {
    text-align: left;
  }
}

.section-sort-buttons {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-sort-buttons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 326px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 50px;
  color: var(--font-family);
  gap: 8px;
  -ms-flex-preferred-size: calc(20% - 8px);
      flex-basis: calc(20% - 8px);
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  .section-sort-buttons__list {
    max-width: 575px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-sort-buttons__item {
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  font-weight: 500;
  padding: 6px 22px;
  width: auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--background-color-secondary);
}
.section-sort-buttons__item:hover, .section-sort-buttons__item:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mobile-menu__open {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .mobile-menu__open {
    display: none;
  }
}

.mobile-menu__icon {
  fill: rgb(33, 33, 33);
}

.menu-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--background-color-primary);
  z-index: 999;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.menu-toggle__close-button {
  position: absolute;
  min-height: 40px;
  min-width: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  right: 25px;
  top: 21px;
}
.menu-toggle__close-button:focus .menu-toggle__icon {
  fill: var(--accent-color);
}

.menu-toggle__icon {
  width: 19px;
  height: 19px;
}

.mobile-menu-nav__item {
  margin-bottom: 32px;
}

.mobile-menu-nav__item:last-child {
  margin-bottom: 0;
}

.mobile-menu-nav__link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav__link:focus {
  color: var(--accent-color);
}

.mobile-menu-bottom {
  margin-top: auto;
}

.mobile-menu-auth__tel-item {
  margin-bottom: 32px;
}

.mobile-menu-auth__mail-item {
  margin-bottom: 64px;
  width: 100%;
}

.mobile-menu-auth__tel-link {
  font-size: 34px;
  line-height: 1.1764705882;
  color: var(--accent-color);
}

.mobile-menu-auth__mail-link {
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--font-family);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.mobile-menu-auth__mail-link:focus {
  color: var(--accent-color);
}

.mobile-menu-socials {
  width: 100%;
  padding: 5px;
}

.mobile-menu-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-menu-socials__item {
  margin-right: 9px;
}

.mobile-menu-socials__item:last-child {
  margin-right: 0;
}

.mobile-menu-socials__link {
  font-size: 18px;
  line-height: 1.2222222222;
  color: var(--accent-color);
}

.mobile-menu-socials__splitter {
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-right: 9px;
}

.logo {
  text-decoration: none;
}
@media screen and (min-width: 480px), (max-width: 480px) {
  .logo {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 15px;
  }
}

.logo__web-part,
.logo__studio-black-part,
.logo__studio-white-part {
  font-family: "Raleway";
}
@media screen and (min-width: 1200px) {
  .logo__web-part,
.logo__studio-black-part,
.logo__studio-white-part {
    font-size: 26px;
    line-height: 1.375;
  }
}

.logo__studio-black-part {
  color: var(--studio-logo);
}

/* Logo in footer */
.logo__studio-white-part {
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .logo--footer {
    margin-left: 0;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--background-color-primary);
}
@media screen and (min-width: 768px) {
  .main-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-nav__link.current.current {
  position: relative;
  color: var(--accent-color);
}

.main-nav__site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .main-nav__site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav__site-nav {
    margin-left: 94px;
  }
}

.main-nav__site-nav .main-nav__item + .main-nav__item {
  margin-left: 50px;
}

.auth-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
    margin-right: 0;
  }
}

.auth-nav .auth-nav__item + .auth-nav__item {
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .auth-nav__mail {
    margin-right: 15px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__mail {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__tel {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__tel {
    margin-right: 0;
  }
}

.main-nav__site-nav,
.main-nav__link,
.auth-nav .auth-nav__link {
  color: var(--title-text-color);
  font-family: inherit;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  font-weight: 500;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
@media screen and (min-width: 1200px) {
  .main-nav__site-nav,
.main-nav__link,
.auth-nav .auth-nav__link {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.auth-nav__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  fill: var(--color-social-media-links);
  margin-right: 10px;
}

.main-nav__site-nav .main-nav__link {
  display: block;
  padding-top: 33px;
  padding-bottom: 33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-nav .auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--font-family);
}
@media screen and (min-width: 768px) {
  .auth-nav .auth-nav__link {
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav .auth-nav__link {
    padding-top: 33px;
    padding-bottom: 33px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-nav__link,
.auth-nav__link,
.auth-nav__icon {
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__link:hover, .main-nav__link:focus, .main-nav__link:hover, .main-nav__link:focus,
.auth-nav__link:hover,
.auth-nav__link:focus,
.auth-nav__link:hover,
.auth-nav__link:focus,
.auth-nav__icon:hover,
.auth-nav__icon:focus,
.auth-nav__icon:hover,
.auth-nav__icon:focus {
  color: var(--accent-color);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.main-nav__link:hover .auth-nav__icon, .main-nav__link:focus .auth-nav__icon,
.auth-nav__link:hover .auth-nav__icon,
.auth-nav__link:focus .auth-nav__icon,
.auth-nav__icon:hover .auth-nav__icon,
.auth-nav__icon:focus .auth-nav__icon {
  fill: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.backdrop {
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 50;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 450px;
  width: 100%;
  height: 609px;
  padding: 40px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    width: 100%;
    height: 581px;
  }
}

.modal__close-btn {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.modal__close-btn:focus, .modal__close-btn:hover {
  fill: var(--active-color);
}

.modal__form {
  position: absolute;
  display: block;
  max-width: 370px;
  width: 100%;
  padding: 0 5px;
}
@media screen and (min-width: 1200px) {
  .modal__form {
    max-width: 448px;
  }
}

.modal__text {
  display: inline-block;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: #212121;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .modal__text {
    line-height: 1.15;
  }
}

.contact-form {
  margin-top: 12px;
}

.contact-form__label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: var(--font-family);
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;
}

.contact-form__box {
  display: block;
  position: relative;
}

.contact-form__name,
.contact-form__phone,
.contact-form__email {
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  width: 100%;
  height: 40px;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.contact-form__name:focus, .contact-form__name:focus, .contact-form__name:focus,
.contact-form__phone:focus,
.contact-form__phone:focus,
.contact-form__phone:focus,
.contact-form__email:focus,
.contact-form__email:focus,
.contact-form__email:focus {
  outline: none;
  border-color: var(--active-color);
}

.contact-form__comments {
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}
.contact-form__comments:focus {
  outline: none;
  border-color: var(--active-color);
}
.contact-form__comments::-webkit-input-placeholder {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form__comments::-moz-placeholder {
  -moz-transition-property: color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form__comments:-ms-input-placeholder {
  -ms-transition-property: color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form__comments::-ms-input-placeholder {
  -ms-transition-property: color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form__comments::placeholder {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__comments:focus::-webkit-input-placeholder {
  color: var(--active-color);
}

.contact-form__comments:focus::-moz-placeholder {
  color: var(--active-color);
}

.contact-form__comments:focus:-ms-input-placeholder {
  color: var(--active-color);
}

.contact-form__comments:focus::-ms-input-placeholder {
  color: var(--active-color);
}

.contact-form__comments:focus::placeholder {
  color: var(--active-color);
}

.contact-form__icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #212121;
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
}

.contact-form__name:focus + .contact-form__icon,
.contact-form__phone:focus + .contact-form__icon,
.contact-form__email:focus + .contact-form__icon {
  fill: var(--accent-color);
}

.contact-form__accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form__icon-accept,
.contact-form__icon-unaccept {
  -webkit-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__checkbox:checked + .contact-form__icon-checkbox .contact-form__icon-accept {
  opacity: 0;
}

.contact-form__checkbox:checked + .contact-form__icon-checkbox .contact-form__icon-unaccept {
  opacity: 1;
}

.contact-form__accept-text {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--font-family);
  margin-left: 7px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (min-width: 1200px) {
  .contact-form__accept-text {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.contact-form__link {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  font-weight: 400;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--active-color);
  margin-left: 7px;
}
@media screen and (min-width: 1200px) {
  .contact-form__link {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.contact-form__name + .modal__close-icon:hover {
  fill: var(--active-color);
}

.contact-form__button {
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.contact-form__button:focus {
  background-color: var(--active-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.contact-form__button:hover {
  background-color: var(--active-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--color-social-media-links);
  background-color: var(--white-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.socials__icon {
  width: 20px;
  height: 20px;
}

.socials--link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__icon--footer {
  fill: var(--white-color);
}

.socials--mb24 {
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .socials--mb24 {
    margin-bottom: 30px;
  }
}

.subscribe {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 0;
    margin-top: 0;
  }
}

.subscribe__subtitle {
  display: block;
  color: var(--white-color);
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subscribe__subtitle {
    text-align: left;
  }
}

.subscribe__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.subscribe__forminput::-webkit-input-placeholder {
  color: var(--white-color-60);
}
.subscribe__forminput::-moz-placeholder {
  color: var(--white-color-60);
}
.subscribe__forminput:-ms-input-placeholder {
  color: var(--white-color-60);
}
.subscribe__forminput::-ms-input-placeholder {
  color: var(--white-color-60);
}
.subscribe__forminput::placeholder {
  color: var(--white-color-60);
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscribe__email {
  -webkit-transition-property: border-color, -webkit-box-shadow;
  transition-property: border-color, -webkit-box-shadow;
  transition-property: box-shadow, border-color;
  transition-property: box-shadow, border-color, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  max-width: 450px;
  width: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-hero-footer);
  color: var(--white-color);
}
.subscribe__email:focus, .subscribe__email:hover {
  outline: none;
  border: 1px solid var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .subscribe__email {
    width: 358px;
  }
}

.subscribe__footer-btn {
  position: relative;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
  border-color: transparent;
  letter-spacing: 0.03em;
  margin-top: 20px;
}
.subscribe__footer-btn:focus, .subscribe__footer-btn:hover {
  outline: none;
  border: 1px solid var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .subscribe__footer-btn {
    margin-top: 0;
  }
}

.subscribe__icon {
  fill: var(--white-color);
  margin-left: 10px;
}

.address {
  margin-top: 20px;
}

.address__item {
  margin-bottom: 8px;
}
.address__item:last-child {
  margin-bottom: 0;
}

.address__tel,
.address__mail,
.address__location {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--white-color);
  font-style: normal;
  text-decoration: none;
}

.address__tel,
.address__mail {
  color: var(--white-color-60);
}

.hero__overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main_image/img-main-480@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main_image/img-main-480@1x.jpg);
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main_image/img-main-480@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main_image/img-main-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main_image/img-main-768@1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main_image/img-main-768@1x.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main_image/img-main-768@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main_image/img-main-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main_image/img-main-1200@1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main_image/img-main-1200@1x.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main_image/img-main-1200@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main_image/img-main-1200@2x.jpg");
  }
}

.card-set__decoration-none {
  text-decoration: none;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.card-set__item {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 450px;
  width: 100%;
  display: block;
  -ms-flex-preferred-size: calc(11.1111111111% - var(--card-set-gap));
      flex-basis: calc(11.1111111111% - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}
.card-set__item:hover, .card-set__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .card-set__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item {
    max-width: 370px;
  }
}

.project-card__project {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project-card__title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .project-card__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.project-card__card-text {
  color: var(--font-family);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  font-weight: 400;
  margin-left: 0;
  margin-top: 4px;
}

.card-set__item:hover .project-card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-card {
  position: relative;
  overflow: hidden;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .project-card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .project-card {
    width: 370px;
  }
}

.project-card__overlay {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
}

.project-card__overlay-text {
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #ffffff;
  margin: 63px 24px;
}/*# sourceMappingURL=main.css.map */