.address {
  margin-top: 20px;
}

.address__item {
  margin-bottom: 8px;
    &:last-child {
    margin-bottom: 0;
}
}

.address__tel,
.address__mail,
.address__location {
  @include fonts($fs: 14px, $lh: 16px, $ls: 0.02em, $fw: 500);
  color: var(--white-color);
  font-style: normal;
  text-decoration: none;
}
.address__tel,
.address__mail {
  color: var(--white-color-60);
}