.socials {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  @include transitions (background-color, fill);
  @extend %flex-centered;
  fill: var(--color-social-media-links);
  background-color: var(--white-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  &:hover,
  &:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}
}

.socials__icon {
  width: 20px;
  height: 20px;
}


// Socials in footer

.socials--link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__icon--footer {
  fill: var(--white-color);
}