
html {
  box-sizing: border-box;
}

.body {
  color: var(--font-family);
  background-color: var(--background-color-primary);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

.list {
list-style: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}