:root {
  --background-color-primary: #fff;
  --background-color-secondary: #f5f4fa;
  --font-family: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --active-color: #188ce8;
  --white-color: #ffffff;
  --white-color-60: rgba(255, 255, 255, 0.6);
  --studio-logo: #000000;
  --background-hero-footer: #2f303a;
  --color-social-media-links: #afb1b8;
  --card-set-gap: 30px
}

