.section-activities {
  padding-top: 94px;
  padding-bottom: 94px;
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
}
}

.section-activities__list {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 30px;
}

.section-activities__title {
  @extend %section-title;
  color: var(--title-text-color);
}

.section-activities__item {
  position: relative;
}

.section-activities__overlay {
  position: absolute;
  display: flex;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-activities__text {
  @extend %flex-centered;
  @include fonts($fs: 14px, $lh: 16px, $ls: 0.03em, $fw: 700);
  text-transform: uppercase;
  color: var(--white-color);
  width: 100%;

}