.section-clients {
  @include section-indent;
}

.section-clients__title {
  @extend %section-title;
  color: var(--title-text-color);
  text-align: center;
}

.section-clients__container {
  display: flex;
  gap: 30px;
}

.section-clients__link {
  @extend %flex-centered;
  @include transitions (fill, border-color);
  width: 170px;
  height: 92px;
  border: 1px solid var(--color-social-media-links);
  border-radius: 4px;
  fill: var(--color-social-media-links);
  background-color: var(--white-color);
    &:hover,
    &:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
}

.section-clients__clients-border {
  display: flex;
}
