.features {
  padding-top: 94px;
}

.features__icon-container {
  @extend %flex-centered;
  background-color: var(--background-color-secondary);
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  
}

.features__list {
  display: flex;
  gap: 30px;
}

.features__list .features__item {
  width: 270px;
}

.features__title {
  color: var(--title-text-color);
  @extend %section-title;
}

.features__subtitle {
  @extend %section-subtitle;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features__text {
  color: var(--font-family);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}