.footer {
  @include section-indent (60px);
  @extend %flex-centered;
  background-color: var(--background-hero-footer);
}

.container--footer {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
}

.footer__footer-combiner {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
  }
}

.footer__footer-left {
  text-align: center;

  @media screen and (min-width: 1200px) {
    width: 231px;
  }
}

.footer__footer-right {
  display: flex;
  flex-direction: column;
  margin-top: 65px;

  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-top: 10px;
  }
}

.footer__subtitle {
  @extend %section-subtitle;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {

}
}



