.section-sort-buttons {
  @include section-indent;
}

.section-sort-buttons__container {
  display: flex;
  
 
  width: 326px;

}

.section-sort-buttons__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 326px;
  justify-content: left;
  margin-bottom: 50px;
  color: var(--font-family);
  gap: 8px;
  flex-basis: calc(100% / 5 - 8px);
  margin-left: 8px;
  
}

.section-sort-buttons__item {
  @include transitions (background-color, color, box-shadow);
  @include fonts($fs: 16px, $lh: 26px, $ls: 0.03em, $fw: 500);  
  padding: 6px 22px;  
  width: auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--background-color-secondary);
    &:hover,
    &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

}


// @media screen and (min-width: 768px) {
//   }

//   @media screen and (min-width: 1200px) {
//   width: 358px;
// }
